In [1]:
import pandas
from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn import datasets
import numpy as np
import time
import numpy as np
from sklearn.externals import joblib
import recommenders as recommenders
import cPickle as pickle
import requests,json

/home/shaktisocity/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
data =  pandas.read_csv('data.csv')

In [3]:
data.head()

,_id,users_name,article_id,interests,rating
0,f1002103409903859,pragyakaul,article-sasta-sunder-aur-tikau-these-are-the-b...,foodAndNightlife | events | shopping | travel ...,2.00
1,f1002103409903859,pragyakaul,article-chefs-signature-is-our-go-to-kebab-kio...,foodAndNightlife | events | shopping | travel ...,1.25
2,f1003129143080714,umeshyadav,artcile-shop-til-you-drop-delhis-winter-sales-...,foodAndNightlife | events | shopping | travel ...,0.75
3,f1003129143080714,umeshyadav,article- shop-til-you-drop-delhis-winter-sal...,foodAndNightlife | events | shopping | travel ...,0.00
4,f1003129143080714,umeshyadav,article-aw-snap!-no-camels-at-republic-day-par...,foodAndNightlife | events | shopping | travel ...,0.75

In [4]:
users = data['_id'].unique()

In [5]:
len(users)

3223

In [6]:
train_data, test_data = train_test_split(data, test_size = 0.20, random_state=0)

In [7]:
train_data.head()

,_id,users_name,article_id,interests,rating
7596,f1217876828277924,kokilachadha,article-nehru-park-chanakyapuri,foodAndNightlife | events | shopping | travel ...,1.25
8779,f1317912408250924,gargipandey,article-artsy-furniture-illustrated-trays-cush...,music | peopleAndCommunities | events | entert...,1.25
16131,g103178180465939809199,nikitagoyal1,article-running-bungee-paintball-archery-and-l...,foodAndNightlife | events | shopping | travel ...,0.75
25869,g117749003204035066161,parupanwar,article-theres-a-brand-new-eatery-in-khan-mark...,foodAndNightlife | events | shopping | travel ...,0.75
7518,f1212638982110832,varunbansal2,article-sprawled-in-the-aravallis-the-tree-of-...,foodAndNightlife | events | shopping | travel ...,1.25

In [8]:
pm =recommenders.popular_recommendation()
pm.create(data,'users_name', 'article_id' )

In [9]:
pickle.dump(pm,open("pm.pkl","wb"))

In [10]:
popularity_recommendation=pickle.load(open("pm.pkl","rb"))

In [11]:
popularity_recommendation.recommend(users[75])

,user_id,article_id,Ratings,Rank
875,f10154272638856551,article-bookmark-this-now-here-s-10-places-to-...,58,1.0
879,f10154272638856551,article-bookmarkthis-delhis-8-most-underrated-...,57,2.0
2488,f10154272638856551,article-high-atop-the-world-below-these-are-th...,53,3.0
44,f10154272638856551,article-10-super-romantic-hideouts-from-delhi-...,51,4.0
138,f10154272638856551,article-6-places-to-wolf-down-the-biggest-badd...,51,5.0
1987,f10154272638856551,article-from-66-flavours-of-chuskis-to-40-type...,50,6.0
1128,f10154272638856551,article-chocolate-shehenshah-shake-afghani-san...,49,7.0
1205,f10154272638856551,article-comfy-couches-heaps-of-books-coffee-we...,49,8.0
49,f10154272638856551,article-11-all-purpose-adorable-stationery-sto...,47,9.0
996,f10154272638856551,article-call-yourself-a-true-blue-delhite-here...,47,10.0

In [41]:
url="http://localhost:5000/predict"
_id = 'f10154272638856551'
data =json.dumps({'user_id':_id})
r=requests.post(url,data)
print(r.json())

[{u'result': u'article-hyatt-just-unveiled-an-all-new-hotel-for-delhi-called-andaz-heres-the-dope'}, {u'result:2': u'article-head-on-over-to-the-newly-opened-cafe-sufiana-andaaz-in-amar-colony-for-a-free-sheesha'}]

In [103]:
# b=["article-giving-us-major-chettinad-chicken-cravings-heres-baani-squares-coastal-reef", "article-47-degrees-and-counting-severe-heat-wave-cripples-delhi-and-how", "article-the-ss-trunk-show-is-about-to-hit-the-town-heres-why-were-super-psyched", "article-delving-into-the-tale-of-the-dadi-poti-tombs-tucked-away-in-a-remote-corner-of-green-park", "article-jalsas-magnificent-collection-of-established-up-and-coming-designers-will-make-your-july-jolly", "article-drum-down-the-sun-a-ddc-jam-session-at-cha-bar", "article-for-gobbling-up-boatfuls-of-pan-asian-delicacies-order-up-from-bamboo-boat-in-ggn", "article-gear-up-all-you-lovely-brides-to-be-wedding-asia-2016-is-about-to-arrive-we-cant-keep-calm", "article-happily-laden-with-everything-under-the-sun-heres-the-good-life-exhibition-by-lifespacein", "article-dancing-up-a-storm-with-the-immensely-talented-founder-of-artistic-athletes-arushi-chawla"]

In [10]:
user_id = users[85]
pm.recommend(user_id)

,user_id,article_id,Ratings,Rank
847,f10154355574465998,article-bookmark-this-now-here-s-10-places-to-...,49,1.0
851,f10154355574465998,article-bookmarkthis-delhis-8-most-underrated-...,49,2.0
132,f10154355574465998,article-6-places-to-wolf-down-the-biggest-badd...,44,3.0
1162,f10154355574465998,article-comfy-couches-heaps-of-books-coffee-we...,44,4.0
1090,f10154355574465998,article-chocolate-shehenshah-shake-afghani-san...,43,5.0
2391,f10154355574465998,article-high-atop-the-world-below-these-are-th...,43,6.0
43,f10154355574465998,article-11-all-purpose-adorable-stationery-sto...,41,7.0
1918,f10154355574465998,article-from-66-flavours-of-chuskis-to-40-type...,41,8.0
38,f10154355574465998,article-10-super-romantic-hideouts-from-delhi-...,40,9.0
963,f10154355574465998,article-call-yourself-a-true-blue-delhite-here...,38,10.0